<h1> New User </h1>
<form action="<%= users_url %>" method='POST'>
    <label> E-mail:
        <input type='text' name='user[email]' value=''>
    </label>
    <label> password:
        <input type='password' name='user[password]' value=''>
    </label>
    <input type='submit' value='submit'>
    
</form>