<h1> Bands List </h1>

<ul>
    <% @bands.each do |band| %>
        <li><a href="<%= band_url(band) %>">
        <p><%= band.name %></p>
        </a></li>
    <% end %>
</ul>

<li>
<a href="<%= new_nad_url %>">New Band</a>
</li>